:root{
    font-size: 16px;
}
html{
  position: relative;
  top:0px;
  left:-8px;
  width: auto;
  background: rgb(248,248,248);
}
body{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}
.wrapper{
    padding-top: 0.8em;
    max-width: 55em;
    min-width: 20em;
    position: relative;
    margin: 2em auto;
    background-color: white;
    border-radius: 0.1025em;
    box-shadow: 0 3px 5px -2px rgba(0,0,0,0.01), 0 4px 5px 0 rgba(0,0,0,0.02), 0 1px 10px 0 rgba(0,0,0,0.03);
}
h1,h2,h3,h4,h5,h6,p,li{
    font-family: 'Open sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.pad{
    margin:0.3em 1.5em;
}
.bannerwrap{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    padding: 0.5em;
    margin: auto;
    margin-top: 1.2em;
    background: rgb(70,70,70);
    height: auto;
    max-width: 1000px;
    min-width: 200px;
    border-radius:4px;
}
.banner{
    font-size: 1.2rem;
    color: white;
    font-family: 'Architects Daughter', cursive;
}
.navbar{
    width: 100%;
    height: 2em;
    background:rgba(56,135,60,0.97);
    position: fixed;
    top: 0px;
    z-index: 101;
}
.nav{
    margin-left: 25px;
    padding: 0px;
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    transition: all 0.2s;
    color: white;
}
.nav:hover{
    border-bottom:solid;
    border-bottom-width:2px;
}
#first{
    border-bottom-color: red;
}
#second{
    border-bottom-color: orange;
}
#third{
    border-bottom-color: lightgreen;
}
#fourth{
    border-bottom-color: skyblue;
}
.logo{
    width: 250px;
    margin: auto;
    display: block;
}
#notices{
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 3px;
    padding-top: 4px;
}
.Vision{
    padding: 0px 0.5em;
    font-family: 'Overlock', cursive;
    font-weight: lighter;
    font-size: 1.8rem;
    color: green;
    text-align: left;
    line-height: 1.2;
}
.slider {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    width: 100vw;
    height: 300px;
    margin-bottom:20px auto;
    position: relative;
}
.slide1,.slide2,.slide3{
position: absolute;
width: 100%;
height: 100%;
}
.slide1 {
  background: url(banner1.jpg)no-repeat center;
  background-size: cover;
  animation:fade 12s infinite;
  -webkit-animation:fade 12s infinite;
}
.slide2 {
  background: url(banner2.jpg)no-repeat center;
  background-size: cover;
  animation:fade 12s infinite;
  -webkit-animation:fade2 12s infinite;
}
.slide3 {
  background: url(banner3.jpg)no-repeat center;
  background-size: cover;
  animation:fade 12s infinite;
  -webkit-animation:fade3 12s infinite;
}
@keyframes fade
{
0%   {opacity:1}
33.333% { opacity: 0}
66.666% { opacity: 0}
100% { opacity: 1}
}
@keyframes fade2
{
0%   {opacity:0}
33.333% { opacity: 1}
66.666% { opacity: 0 }
100% { opacity: 0}
}
@keyframes fade3
{
0%   {opacity:0}
33.333% { opacity: 0}
66.666% { opacity: 1}
100% { opacity: 0}
}
.bullet{
    list-style-type: circle;
}
.content{
    position: relative;
    padding-top: 5px;
    top: 300px;
    z-index: 100;
    background: rgb(248,248,248);
}
.slidewrap{
    width: 100vw;
    position: fixed;
    z-index: 100;
}
